 .flex {
     display: flex;
 }


 
/* .flex-row {
    flex-direction: row;
} */


 h1 {
     font-size: 30px;
 }

 .titulo-ini {
     margin-top: 20%;
     margin-bottom: 15%;
 }

 .titulo-hist {
     margin-top: 0%;
 }

 .tls {
     color: #000000;
     text-align: center;
 }

 .input-text {
     background-color: #E8E8E8;
     border: 2px solid #BDBDBD;
     border-radius: 8px;
     width: 343px;
     height: 50px;
     font-size: 16px;
     margin-top: 15px;
     padding-left: 15px;
 }

 .btns {
     width: 343px;
     height: 51px;
     border: 0px;
     border-radius: 32px;
     font-size: 16px;
     margin-top: 15px;
 }

 .bord-arred {
     border-radius: 32px;
 }

 .button-ini {
     background-color: #45FEFE;
     border: none;
 }

 .button-calc {
     background-color: #FFFFFF;
     border: 5px solid #45FEFE;
 }

 .main-ini {
     display: grid;
     justify-content: center;
     margin: 0%;
     width: 100%;
     height: 100%;
 }

 .check-label {
     font-size: 14px;
     color: #666666;
 }

 .check {
     margin-top: 15px;
 }

 body {
     background-color: #F5F5F5;
 }

 .img-history {
     text-align: center;
     background-color: #FFFFFF;
     border: 5px solid #45FEFE;
     /* margin: 62px 139px; */
     margin: 62px auto;
     width: 95px;
     height: 95px;
     margin-bottom: 0%;
 }

 .barr-pesq {
    margin: auto;
 }

.tb {
    margin: 15px auto;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}

